
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

/**
 * HTML Elements
 */
body.colourise {
  background: #070707;
}
#page {
  color: #aaa;
  background: #070707 url(../images/bg.jpg) center top no-repeat;
}

fieldset {
  border: 1px solid #444;
}

input.form-text {
  cursor: text;
}

input, select, textarea {
  padding: 2px 4px;
  color: #eee;
  background: #222;
  border: 1px solid #999;
}
input:hover, select:hover, textarea:hover {
  border: 1px solid #ccc;
}

blockquote {
  margin: 20px 0;
  padding: 20px 20px 20px 50px; /* LTR */
  color: #bb9;
  background: #111 url(../images/quote.jpg) no-repeat 10px 10px; /* LTR */
  border: #333 solid 1px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

/**
 * General Links
 */
a, a:active, a:link {
  color: #5be;
  text-decoration: none;
}

a:visited {
  color: #8ac;
  text-decoration: none;
}

a:hover, a.active {
  color: #fff;
}

.codeblock {
  margin: 10px 0;
  padding: 5px 10px;
  color: #333;
  background: #ccc;
  border: #eee solid 1px;;
}

h1.title {
  color: #c95;
  background:transparent url(../images/color-line.jpg) 50% 100% repeat-x;
}

h2.title a,
h2.title a:visited {
  display: block;
  color: #eee;
  border-bottom: #444 dashed 1px;
}

h2.title a:hover {
  color: #9c4;
  border-bottom: #9c4 dashed 1px;
}

.breadcrumb a,
.breadcrumb a:visited {
  color: #8b3;
}
.breadcrumb a:hover {
  color: #fff;
}

/**
 * Content Block
 */
.content-block {
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #ccc;
  background: #222;
  border: #444 solid 1px;
}
.content-block h2 {
  margin-bottom: 10px;
  border-bottom:1px solid #444;
}
#bottom-content-block {
  margin-top: 20px;
}

/**
 * Sidebar Links
 */
.sidebar {
  color: #aa8;
}

.sidebar a,
.sidebar a:visited {
  color: #bbb;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar a.active {
  color: #5be;
}

/**
 * Footer & Footer Columns
 */
#footer,
#footer-column-wrap {
  background:transparent url(../images/color-line.jpg) 50% 0 repeat-x;
}

.footer-column h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: #333 solid 1px;
}

.footer-column .item-list ul {
  margin: 0;
  padding: 0;
}

.footer-column .item-list ul li {
  margin: 0;
  padding: 3px 0;
  list-style: none;
}

.footer-column a,
.footer-column a:visited {
  color: #ddd;
}
.footer-column a:hover,
.footer-column a.active {
  color: #8b3;
}

#footer a,
#footer a:visited {
  color: #8b3;
}
#footer a:hover {
  color: #fff;
}

/* "Back to Top" link */
#to-top a,
#to-top a:visited {
  color: #fff;
}
#to-top a:hover {
  color: #8b3;
}

/* File Upload Form Text Color */
input.form-file {
  color: #39f;
}

/* Add more space for submit button */
#main-content input.form-submit {
  margin-top: 20px;
}
/* Fix too wide icon upload INPUT in FireFox */
#edit-favicon-upload-wrapper {
  width: 300px;
  overflow: hidden;
}