
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

blockquote {
  padding: 20px 60px 20px 20px;
  background: #111 url(../images/quote-rtl.jpg) no-repeat 98% 10px;
}

#main-content .item-list .pager {
  text-align: right;
}