
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

/**
 * Master Layout
 */
#page {
  margin: 0 auto;
  padding-top: 10px;
}

#main-content {
  float:left;
  width:100%;
  margin-right:-100%;
  padding:0;
}

.sidebar {
  float:left;
}

body.two-sidebars #content-inner {
  margin-left: 220px;
  margin-right: 220px;
}

body.sidebar-right #content-inner {
  margin-right: 220px;
}

body.sidebar-left #content-inner {
  margin-left: 220px;
}

#sidebar-left {
  width: 220px;
  margin-right:-220px;
}

#sidebar-right {
  float:right;
  width: 220px;
}

.inner {
  padding:10px 10px 20px 10px;
}

#header,
#footer {
  clear: both;
  margin: 0 10px;
  padding: 10px 0;
}

/**
 * Page Class Switch for Theme Settings
 */
.narrow {
  width: 780px;
}

.medium {
  width: 840px;
}

.wide {
  width: 960px;
}

.super-wide {
  width: 1020px;
}

.extreme-wide {
  width: 1140px;
}

.fluid {
  min-width: 740px;
  padding: 0 20px;
}

/**
 * Hidden Elements
 */
.hidden {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/**
 * Header
 */
#header {
  position: relative;
  height: 400px;
  border-bottom: 1px solid #333;
}

/**
 * Site Name and Slogan
 */
#site-name a {
  position: absolute;
  top: 90px;
  left: 0; /* LTR */
  color: #fff;
}

#slogan {
  position: absolute;
  top: 180px;
  left: 0; /* LTR */
  width: 580px;
  color: #c95;
}

/**
 * Header Primary Links
 */
#primary-menu {
  position: absolute;
  left: 0; /* LTR */
  top: 0;	
  height: 40px;
  width: 100%;	
  border-bottom: 1px solid #222;
}

#primary-menu ul {
  float: left; /* LTR */
  height: 40px;
  list-style: none;	
}

#primary-menu ul li {
  display: inline;
  margin: 0 1em 0 0;
  padding: 0;
}

#primary-menu ul li a {
  margin: 0;
  color: #8b3;
}

#primary-menu ul li a:hover,
#primary-menu ul li a:active {
  color: #eee;
  background: none;
  border: none;
}

#primary-menu ul li.active a {
  color: #fff;	
}

/**
 * Header Search Box
 */
#header #search {
 border: #444 solid 1px;
}

#header form#search-theme-form {
  position: absolute;
  top: 3px;
  right: 0; /* LTR */
  height: 30px;
  width: 262px;
  margin: 0;
  padding: 0;
  border: none;
  color: #aaa;
  background: url(../images/header-search.jpg) no-repeat; /* LTR */
  z-index: 9;
}

#header form#search-theme-form .form-text {
  width: 210px;
  margin: 2px 0 0 5px; /* LTR */
  color: #eee;
  background: none;
  font-size: 16px;
  border: none;
}

#header form#search-theme-form label,
#header form#search-theme-form .form-submit {
  display: none;
}

/**
 * Header Breadcrumb
 */
#header .breadcrumb {
  position: absolute;
  top: 360px;
  left: 0; /* LTR */
}

/**
 * Mission
 */
#mission {
  margin: 20px 0;
  padding: 20px 20px 20px 50px; /* LTR */
  color: #ffc;
  background: #111 url(../images/quote.jpg) no-repeat 10px 10px; /* LTR */
  font-size: 1.5em;
  line-height: 1.5em;
  border: 1px solid #444;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

/**
 * Main Content
 */
.node {
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}

h1.title {
  margin-bottom: 20px;
  padding-bottom: 5px;
}

/*
.node .content {
  clear: both;
}
*/
/**
 * Sidebar
 */
.sidebar {
  margin-top: 1.2em;
}

.sidebar .block {
  margin-bottom: 40px;
}
 
.sidebar h2.block-title {
  margin-bottom: 10px;
  padding: 5px 0;
  color: #ccc;
  background: url(../images/color-line.jpg) no-repeat 50% 100%;
}

.sidebar h3 {
  margin-bottom: 10px;
}

/**
 * Footer Columns
 */
#footer-column-wrap {
  margin: 0 10px;
  padding: 10px 0;
}

.footer-column {
  float: left;
  width: 32%;
  margin-right: 2%;
}

#footer-column-wrap #last {
  margin-right: 0;
}

.footer-column .block {
  margin-bottom: 30px;
}

.footer-column h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: #333 solid 1px;
}

#to-top {
  float: right; /* LTR */
  padding: 0 0 1em 1em; /* LTR */
  font-size: 2em;
  font-weight: bold;
}

#site-info,
#theme-credit {
  margin-bottom: 0;
}

/**
 * Grid Preview: If you want to preview 
 * the backbone of the layout before editing page positioning
 * you can uncomment the style below to see the vertical-line helper.
 */
/*
#page {
  background: transparent url(../images/grid.png) 0 0 repeat;
}
*/