
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

#site-name a {
  right: 0;
}

#slogan {
  right: 0;
}

#header form#search-theme-form {
  background: url(../images/header-search-rtl.jpg) 0 50% no-repeat;
}

#header form#search-theme-form .form-text {
  margin: 2px 5px 0 0;
}

#header .breadcrumb {
  right: 0;
  text-align: right;
}

#mission {
  padding: 20px 60px 20px 20px;
  background: #111 url(../images/quote-rtl.jpg) no-repeat 98% 10px;
}

#to-top {
  float: left;
  padding: 0 1em 1em 0;
}