
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

/* Block */
#page .more-link {
  text-align: right;
}

/* Book */
.book-navigation .menu {
  padding: 10px 20px 0 0;
}
.book-navigation .page-previous {
  text-align: right;
}
.book-navigation .page-next {
  float: left;
  text-align: left;
}

/* Comment */
.comment ul.links li {
  padding: 0;
  margin-right: 0;
  margin-left: 1em;
}

#comments .indented {
  margin-left: 0;
  margin-right: 1.5em;
}

/* Forum */
.forum-topic-navigation .topic-previous {
  text-align: right;
}
.forum-topic-navigation .topic-next {
  text-align: left;
}

/* Node */
.post-info span.submitted {
  margin-left: 1em;
  margin-right: 0;
}
.picture {
  float: left;
  margin: 5px 10px 10px 0;
  overflow: hidden;
}
.picture img {
  float: left;
  margin: 0 10px 9px 0;
}

/* OpenID */
#user-login-form li.openid-link,
#user-login li.openid-link,
#user-login .item-list li.openid-processed,
#user-login-form .item-list li.openid-processed {
  text-align: right;
}
#user-login .item-list li.openid-processed {
  margin:0 0 0.25em 1.5em;
}

/* Poll */
.poll .vote-form {
  text-align: right; /* LTR */
}

/* System & Admin */
html.js fieldset legend a {
  padding-right: 20px;
  padding-left: 10px;
}
html.js fieldset.collapsible legend a {
  background-image: url(../images/menu-expanded.gif);
  background-position: 100% 50%; /* LTR */
}
html.js fieldset.collapsed legend a {
  background-image: url(../images/menu-collapsed-rtl.gif);
  background-position: 100% 50%;
}

#main-content div.admin-panel .body ul.menu {
  padding-right: 0;
}

/* User */
#user-login-form {
  text-align: right;
}

/* Switchtheme Module */
#switchtheme-switch-form div.form-item {
  float: right;
}