
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

/**
 * Various Modules Override
 */

/* Aggregator */
#aggregator .feed-source {
  margin: 20px 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

#aggregator .feed-item {
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #ccc;
  background: #070707;
  border: #444 solid 1px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.sidebar .block-aggregator .item-list ul li {
  margin-bottom: 10px;
}

/* Block */
.sidebar .block {
  margin-bottom: 30px;
}

.block-region {
  clear: both;
  padding: 3px 10px;
  color: #000;
  background: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

#page .more-link {
  font-size: 1.5em;
  text-align: left; /* LTR */
}

#page .more-link a {
  color: #d62;
}

#page .more-link a:hover {
  color: #fff;
}

/* Book */
.book-navigation .menu {
  margin: 0;
  padding: 10px 0 0 20px; /* LTR */
  border-top: #333 solid 1px;
}

.book-navigation .menu li {
 padding: 0;
}

.book-navigation .page-links {
  border-top: #333 solid 1px;
  border-bottom: 0;
}

.book-navigation a {
  color: #8b3;
}

.book-navigation a:hover {
  color: #fff;
}

#book-outline {
  min-width: 80%;
}

/* Comment */
#comments {
  padding-top: 20px;
  background: transparent url(../images/color-line.jpg) 50% 0 no-repeat;
}
.comment {
 margin-bottom: 20px;
 padding: 10px 20px;
 color: #ccc;
 background: #111;
 border: #444 solid 1px;
}
.comment .submitted {
  color: #cca;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.comment h3 {
  margin-bottom: 0;
}
#comments h3.title a,
#comments h3.title a:visited,
#comments h3.title a:hover {
  color: #d62;
}
.comment ul.links li {
  padding: 0;
  margin-right: 1em; /* LTR */
  margin-left: 0; /* LTR */
}
#comments .box h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #c95;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}
#comments textarea {
  width: 103.5%;
}
.preview .comment {
  padding: 10px;
  background-color: #353;
}

#comments .mine {
  color: #eee;
  background: transparent;
  border: 3px solid #776;
}

#comments .node-author {
  color: #eee;
  background: transparent url(../images/bg.jpg) 100% 50% no-repeat;
  border: 3px solid #776;
}

#comments .node-author a {
  color: #5be;
}
#comments .node-author a:hover {
  color: #fff;
}

#comments .indented {
  margin-left: 1.5em; /* LTR */
}

.comment .new {
  text-transform: uppercase;
}

#comments .comment-unpublished {
  background-color: #977;
  background-image: none;
  opacity: 0.8;
}

/* DBlog */
tr.dblog-user .active,
tr.dblog-error .active,
tr.dblog-content .active,
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active {
  color: #000;
}

/* Forum */
#forum {
  margin-bottom: 20px;
}

#forum table {
  width: 100%;
  margin: 20px 0;
}

.forum-topic-navigation .topic-previous {
  text-align: left; /* LTR */
}

.forum-topic-navigation .topic-next {
  text-align: right; /* LTR */
}
/* Help */
.help {
  color: #dd9;
}

/* Node */
.node {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.node-unpublished {
  padding: 10px;
  background-color: #944;
}
.preview .node {
  padding: 10px;
  background-color: #353;
}
.node-form .form-text {
  display: block;
  width: 90%;
}
.node-form textarea {
  display: block;
  width: 103.5%;
}
.post-info {
  color: #dda;
  margin-bottom: 20px;
  font-size: 0.9em;
}
#main-content .post-info a {
  color: #f84;
}
#main-content .post-info a:hover {
  color: #fff;
}
.post-info span.submitted {
  margin-right: 1em; /* LTR */
}
.node-links {
  clear: both;
  padding: 3px 10px;
  background: #222;
  border: #333 solid 1px;
}
.picture {
  float: right; /* LTR */
  margin: 5px 0 10px 10px; /* LTR */
  overflow: hidden;
}
.picture img {
  float: right; /* LTR */
  margin: 0 0 9px 10px; /* LTR */
  padding: 5px;
  border: 1px solid #444;
}
.user-signature {
  padding: 10px 0;
  color: #ffc;
  border-top: #553 dashed 1px;
}
.node-form div.admin {
  padding-top: 0;
}
a.feed-icon img {
  margin: 0;
  padding: 3px;
  background: #444;
}
a:hover.feed-icon img {
  background: #fff;
}

/* OpenID */
#user-login-form li.openid-link,
#user-login li.openid-link {
  background-image: none;
}

#edit-openid-identifier {
  background-image: none;
  padding-left: 0;
}

/* Poll */
.poll {
  clear: both;
}
.poll .bar {
  background-color: #555;
}
.poll .vote-form {
  text-align: left; /* LTR */
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .title,
.poll .text,
.poll .percent {
  color: #eee;
  font-weight: bold;
}
.poll div.title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.poll .bar .foreground {
  background: #8b3;
}

/* Profile */
.profile h3 {
  color: #fff;
  border-bottom: 0 none;
}

/* Search */
#search-block-form label {
  display: none;
}

/* System & Admin */
/* admin.css */
div.admin {
  margin-bottom: 20px;
  padding-top: 0;
}

div.admin .left {
  width: 49%;
  margin-left: 0;
}

div.admin .right {
  width: 49%;
  margin-right: 0;
}

div.admin-panel .body {
  padding: 0;
}

#main-content div.admin-panel .body ul.menu {
  padding-left: 0; /* LTR */
}

div.admin-dependencies,
div.admin-required {
  font-size: 0.9em;
  color: #eea;
}

span.admin-disabled {
  color: #c33;
}

#main-content .item-list .pager {
  display: block;
  clear: both;
  text-align: left;
  margin: 20px 0;
  font-size: 16px;
  color: #eee;
}

#main-content .item-list .pager li {
  margin: 0 8px 0 0;
  padding: 0;
}

#main-content .item-list .pager li a {
  color: #9c4;
}

#main-content .item-list .pager li a:hover {
  color: #fff;
}

.breadcrumb {
  margin-top: 30px;
}

.description {
  color: #bba;
}

div.teaser-button-wrapper {
  padding-right: 40px;
}

html.js .resizable-textarea textarea,
textarea#edit-body {
  width: 103.5%;
}

.resizable-textarea .grippie {
  background-color: transparent;
  border: 0 none;
}

html.js fieldset legend a {
  padding-left: 20px; /* LTR */
  padding-right: 10px; /* LTR */
}
html.js fieldset.collapsible legend a {
  color: #5be;
  background-image: url(../images/menu-expanded.gif);
  background-position: 0 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  color: #5be;
  background-image: url(../images/menu-collapsed.gif); /* LTR */
}

html.js fieldset.collapsible legend a:hover {
  color: #fff;
}

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: hidden;
}

tr.odd td {
  background: #222;
  border-bottom: #333 solid 1px;
}

tr.even td {
  color: #ddd;
  background: #333;
  border-bottom: #333 solid 1px;
}

tr.odd td.active,
tr.even td.active {
  color: #ccc;
  background: #454;
  border-bottom: #333 solid 1px;
}

tr.region {
  color: #8b3;
  text-transform: uppercase;
}

table.sticky-header {
  background: #111;
}

div.warning,
div.messages,
div.status {
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #000;
  background: #eec;
  border: #ff0 solid 1px;
}

div.messages.error {
  color: #300;
  background: #ffe;
  border: #d30 solid 1px;
}

.warning a:link,
.warning a:visited,
.messages a:link,
.messages a:visited {
  color: #d30;
  font-weight: bold;
}

.warning a:hover,
.messages a:hover {
  color: #28b;
  font-weight: bold;
}

#main-content table tbody .warning a {
  color: #d30;
}

#main-content table tbody a:hover {
  color: #fff;
}

th a.active {
  color: #9c4;
}

th a:hover.active,
th.active a.active {
  color: #fff;
}

th.active img {
  margin-left: 5px;
}

#main-content .ok {
  color: #bbb;
}

#main-content div.error {
  margin-bottom: 20px;
  padding: 5px 10px;;
  font-size: 1.2em;
  line-height: 1.2em;
}

#main-content .error a {
  color: #f00;
  font-weight: bold;
}

#main-content .error a:hover {
  color: #28b;
}

#main-content tr.error.odd {
  color: #eee;
  background: #411;
}

#main-content tr.error.even {
  color: #eee;
  background: #522;
}

#main-content tr.error a {
  color: #f00;
}

#main-content tr.error a:hover {
  color: #5be;
}

#main-content tr.info {
  color: #fff;
}

/* Status Report page */
#main-content table.system-status-report {
  width: 100%;
}
#main-content table.system-status-report tr.warning {
  color: #eed;
}
#main-content table.system-status-report th {
  color: #000;
}
#main-content table.system-status-report tr.error th {
  color: #fff;
}

/* Maintaniance page */
.in-maintenance #page {
  width: 780px;
}
#maintainance-content {
  font-size: 2em;
}

ul.tips {
  margin-left: 20px;
  margin-bottom: 10px;
}

#system-themes-form {
  font-size: 0.9em;
}

.theme-info .description {
  font-size: 0.9em;
}

.theme-info h2 {
  margin-top: 0;
  font-size: 1em;
  color: #eee;
}

/* Update */
div.update {
  margin: 20px 0;
}
.update tr.ok.odd  {
  background: #222;
}
.update tr.ok.even  {
  background: #333;
}
.update tr.error {
  background: #fdb;
}
#main-content .update tr.error a {
  color: #d00;
  font-weight: bold;
}
#main-content .update tr.error a:hover {
  color: #5be;
}
.update tr.error .version-recommended {
  background: #000;
}
.update table.version td {
  padding: 0.5em 0;
}

/* User */
#user-login-form {
  font-size: 1.4em;
  text-align: left; /* LTR */
}
#user-login-form input {
  margin: 5px 0;
}
#user-login-form input.form-text {
  width: 93%;
}
#user-login-form .item-list ul li {
  padding: 0.2em 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}
#permissions td.module {
  color: #eea;
  font-size: 1.2em;
}

/* Tagadelic */
.block-tagadelic .content {
  line-height: 1.7em;
}