
/**
 * This file do nothing in the screen monitor
 * But when users want to print you web page (Command+P or Control+P)
 * it will remove all unnecessary sections for them
 * except the main content in a print-out.
 */

body, input, textarea, select,
#page, #header, #site-name, #slogan, .inner, #site-info, #theme-credit,
#page a, #header a, #site-name a, #slogan a, #site-info a, #theme-credit a,
#main-content .node-links, #comments .node-author, #comments .content, #comments .submitted {
  color: #000 !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
}

#page {
  font-size: 16px;
  line-height: 1.8em;
}

/**
 * Header
 */
#header {
  height: auto;
  border-bottom: 0 none;
}

/**
 * Site Name and Slogan
 */
#site-name a {
  position: relative;
  top: 0;
  left: 0; /* LTR */
  padding-bottom: 10px;
  color: #000;
  font-size: 16px;
  line-height: 1.1em;
  letter-spacing: 1px;
}

#slogan {
  position: relative;
  top: 0;
  left: 0; /* LTR */
  width: 100%;
  padding-bottom: 10px;
  color: #c95;
  font-size: 14px;
  line-height: 1.1em;
}

.node {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

h1.title {
  color: #000;
  padding-top: 20px;
}

h2.title {
  padding-bottom: 15px;
}

.comment {
  border: 1px solid #ccc;
}

input, textarea, select,
#nav-access,
#primary-menu,
#search-theme-form,
#mission,
#main-content .node .post-info,
#main-content .links,
#main-content .node-links,
#header .breadcrumb,
#main-content .breadcrumb,
#top-content-block,
#bottom-content-block,
#main-content .item-list ul.pager,
a.feed-icon img,
#comments .box,
.comment .picture,
#page .sidebar,
#footer-column-wrap, #to-top,
#main-content ul.primary,
#main-content ul.secondary {
  display: none;
}

body.two-sidebars #content-inner,
body.sidebar-right #content-inner,
body.sidebar-left #content-inner {
  margin-left: 0;
  margin-right: 0;
}

#footer,
#site-info,
#theme-credit {
  clear: both;
}

#main-content li.leaf,
#main-content li.expanded,
#main-content li.collapsed,
#main-content li.expanded.active-trail,
#main-content li.collapsed.active-trail,
#main-contentli.leaf.active-trail {
  list-style-image: none;
}