
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

ul.menu {
  margin-right: 1.5em;
  margin-left: 0;
}

.block ul {
  margin: 0;
  padding: 0 20px 0.25em 0;
}

ul.links {
  text-align: right;
}

ul.links li {
  display: inline;
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: none;
}

li.collapsed {
  list-style-image: url(../images/menu-collapsed-rtl.gif);
}

li.collapsed.active-trail {
  list-style-image: url(../images/menu-collapsed-active-rtl.gif);
}

#main-content ul.menu {
  padding-left: 0;
  padding-right: 20px;
}

#main-content ul.primary li a {
  margin-left: 0.5em;
  margin-right: 0;
}

#main-content ul.secondary li {
  border-right: 0 none;
  border-left: 1px solid #ccc;
}