
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

ul.menu {
  margin-left: 1.5em; /* LTR */
  padding: 0;
  list-style: none;
  border: none;
}

li.expanded {
  list-style-type: circle;
  list-style-image: url(../images/menu-expanded.gif);
  padding: 0.2em 0 0 0;
  margin: 0;
}

li.collapsed {
  list-style-type: square;
  list-style-image: url(../images/menu-collapsed.gif);  /* LTR */
  padding: 0.2em 0 0 0;
  margin: 0;
}

li.leaf {
  list-style-type: disc;
  list-style-image: url(../images/menu-leaf.gif);
  padding: 0.2em 0 0 0;
  margin: 0;
}

li.expanded.active-trail {
  list-style-image: url(../images/menu-expanded-active.gif);
}

li.collapsed.active-trail {
  list-style-image: url(../images/menu-collapsed-active.gif);  /* LTR */
}

li.leaf.active-trail {
  list-style-image: url(../images/menu-leaf-active.gif);
}

.sidebar ul.menu li a.active {
  color: #9c4;
}

td.menu-disabled {
  background: #ccc;
}

ul.links {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  margin: 0 1em 0 0; /* LTR */
  padding: 0;
  list-style-type: none;
}

.block ul {
  margin: 0;
  padding: 0 0 0.25em 20px; /* LTR */
}

#main-content ul.menu {
  padding-left: 20px; /* LTR */
}

#main-contentul.links li {
  margin-left: 0;
}

#main-content ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 1em;
  white-space: nowrap;
  list-style: none;
  margin: 5px 0;
  height: auto;
  line-height: normal;
  border-bottom: #333 1px solid;
}

#main-content ul.primary li {
  margin: 0;
  padding: 0;
}

#main-content ul.primary li a {
  background-color: #333;
  border-color: #222;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 3px 10px 0 10px;
  text-decoration: none;
}

#main-content ul.primary li a:hover,
#main-content ul.primary li a.active {
  color: #fff;
}

#main-content ul.secondary {
  padding: 0.5em;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #222;
}

#main-content ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc; /* LTR */
}

#main-content ul.secondary a {
  padding: 0;
  text-decoration: none;
}

#main-content ul.secondary a.active {
  color: #fff;
  border-bottom: 0;
}

#main-content .item-list ul {
  margin-bottom: 30px;
}

.item-list h3 {
  margin-bottom: 0;
}

.sidebar .item-list ul {
  margin: 0;
  padding: 0;
}

.sidebar .item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .item-list ul li a {
  display: block;
  padding: 0;
}

.sidebar .item-list ul li a:hover,
.sidebar .item-list ul li a.active {
  display: block;
}


.sidebar .block-comment .item-list ul li {
  margin-bottom: 10px;
}
.sidebar .block-comment .item-list ul li a,
.sidebar .block-comment .item-list ul li a:hover,
.sidebar .block-comment .item-list ul li a.active {
  display: inline;
  margin: 0;
  padding: 0;
}