
/**
 * You may not need to edit this file!
 * If you really want to override default layout and style
 * you can add your style in the "custom.css" file
 * then activate it in the theme settings page.
 * (/admin/build/themes/settings/colourise)
 */

body {
  font: 0.75em/1.7 "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Microsoft Sans Serif", "Arial Unicode MS", Arial, "Liberation Sans", Thonburi, Kinnari, Garuda, Loma, Waree, "Lucida Grande", Tahoma, sans-serif;
}

/**
 * Thai Language: 
 * การเลือกฟอนต์สำหรับแสดงผลภาษาไทยปนอังกฤษต้องเลือกฟอนต์ Latin ก่อน
 * เพราะปกติในบราวเซอร์ ถ้ามันเจอฟอนต์ Unicode ที่มีอักษรไทย
 * มันก็จะใช้ฟอนต์นั้นทั้งไทยและลาติน ถ้าไม่เจออักษรไทย
 * มันจึงจะมองหาฟอนต์ตัวต่อไปที่เราระบุไว้
 * และถ้าไม่เจอเลยซักตัว มันก็เลือกตามค่าดีฟอลต์ของบราวเซอร์
 * คุณสามารถระบุฟอนต์ไทยเองได้ โดยเอาคอมเมนต์ด้านล่างนี้ออกออก
 * แต่ใน IE มันคงไม่รู้จัก property นี้ [lang|="th"]
 */

/* 
 *[lang|="th"] {
  font: 0.75em/1.7 "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Microsoft Sans Serif", "Arial Unicode MS", Arial, "Liberation Sans", Thonburi, Kinnari, Garuda, Loma, Waree, "Lucida Grande", Tahoma, sans-serif;
}
*/

/**
 * MacOS 10.5 ไม่สามารถแสดงผลฟอนต์ Thonburi ตัวหนาได้ เลยต้องระบุให้ใช้ Ayuthaya แทน
 * MacOS 10.5 cannot display Thai Thonburi Bold so use Ayuthaya (monospace) instead
 */
strong,
#blocks td.region {
  font-family: "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Arial Unicode MS", Arial, "Liberation Sans", Kinnari, Garuda, Loma, Waree, Ayuthaya, "Lucida Grande", Tahoma, sans-serif;
  font-weight: bold;
}

 /**
 * BIDI for right to left language
 */
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}

 /**
 * Arabic Language:
 * I'm not sure but I guess Arabic Alphabets may need a bit bigger font-size
 * You can uncomment those below to see the difference
 * (IE may not support this CSS property)
 */

/*
*[lang|="ar"] {
  direction: rtl;
  font-family: "Arabic Transparent";
  font-size: 1.1em;
}
*/

/* Sans-serif family */
h1, h2, h3, h4, h5, h6,
#primary-menu ul li a,
#main h1.title,
#main h2.title a,
#sidebar, #footer,
#main #comments .box h2 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, Geneva, Verdana, Freesans,  'Liberation Sans', Ayuthaya, Garuda, Loma, Waree, 'Lucida Grande', Tahoma, Freesans, sans-serif;
}

/* Serif family */
blockquote, blockquote strong,
#site-name a, #slogan, #mission {
  font-family: Georgia, 'Times New Roman', Times, Century, Freeserif, Kinnari, Norasi, Ayuthaya, Tahoma, serif;
}

/* Heading */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4, h5, h6 {
  font-size: 1em;
}

/* Generic Elements */
input, select {
  font-size: 1em;
}

textarea {
  font-size: 1.2em;
}

code, pre {
  font: 0.95em/1.7 Ayuthaya, Monaco, Courier, "Courier New", "Andale Mono", monospace;
}
blockquote {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6em;
  font-style: italic;
}

/* Site Name and Slogan */
#site-name a {
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -1.5px;
  text-decoration: none;
}

#slogan {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.3em;
  font-style: italic;
}

/* Header Primary Links */
#primary-menu ul li a {
  font-weight: bold;
  font-size: 15px; 
  line-height: 35px;
  text-decoration: none;
}

/* Main Content and Node */
#mission {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6em;
  font-style: italic;
}

h1.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

h2.title a {
  font-size: 22px;
  text-decoration: none;
}

/* Sidebar */
.sidebar {
  font-size: 0.95em;
}

.sidebar h2.block-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2em;
}